<div id="myCarousel" class="carousel slide">
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>
  <!-- Carousel items -->
  <div class="carousel-inner">
    <div class="active item">
      <%= image_tag("green-mosaic.png") %>
      <div class="carousel-caption">
        <h3>Mosaic</h3>
        <p>This is a description.  It is the best description ever.  Like omg, totally I'm not even kidding</p>
      </div>
    </div>
    <div class="item">
      <%= image_tag("spiral.png") %>
      <div class="carousel-caption">
        <h3>Spiral</h3>
        <p>This is a description.  It is the best description ever.  Like omg, totally I'm not even kidding</p>
      </div>
    </div>
    <div class="item">
      <%= image_tag("purple-pattern.png") %>
      <div class="carousel-caption">
        <h3>Pattern</h3>
        <p>This is a description.  It is the best description ever.  Like omg, totally I'm not even kidding</p>
      </div>
    </div>
  </div>
  <!-- Carousel nav -->
  <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
  <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
</div>

<div class="row">
<div class="span2"></div>
<div class="span8">
  <%= image_tag("slogan2.png", :id => "slogan-img") %>
</div>
<div class="span2"></div>
</div>

<hr class="dotted"/>

<div class="row">
  <div class="span12">
    <%= image_tag("best-sellers.png") %>
  </div>
</div>

<div class="row thumbnail-row">
  <div class="span12">
    <ul class="thumbnails">
      <li class="span3">
        <div class="thumbnail coolshadow">
          <%= image_tag("holder.png") %>
          <h4>Thumbnail label</h4>
          <p>Thumbnail caption...</p>
        </div>
      </li>

      <li class="span3">
        <div class="thumbnail coolshadow">
          <%= image_tag("holder2.png") %>
          <h4>Thumbnail label</h4>
          <p>Thumbnail caption...</p>
        </div>
      </li>

      <li class="span3">
        <div class="thumbnail coolshadow">
          <%= image_tag("holder4.png") %>
          <h4>Thumbnail label</h4>
          <p>Thumbnail caption...</p>
        </div>
      </li>

      <li class="span3">
        <div class="thumbnail coolshadow">
          <%= image_tag("holder6.png") %>
          <h4>Thumbnail label</h4>
          <p>Thumbnail caption...</p>
        </div>
      </li>

    </ul> <!-- end breadcrumbs -->
  </div>
</div>
