<div id="myCarousel" class="carousel slide">
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>
  <!-- Carousel items -->
  <div class="carousel-container">
  <div class="carousel-inner" style="background-color: #111717;">
    <div class="active item">
      <div class="container">
        <%= image_tag("golfer2.png", :usemap => "#golfmap") %>
        <map name="golfmap">
          <area shape="rect" coords="35,0,170,140" href="http://www.amazon.com/gp/product/B00BTD4242/ref=as_li_tf_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B00BTD4242&linkCode=as2&tag=golclujun0d-20" alt="womens golf pants" target="_blank">
          <area shape="rect" coords="20,180,180,270" href="http://www.amazon.com/gp/product/B00AO1D05C/ref=as_li_tf_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B00AO1D05C&linkCode=as2&tag=golclujun0d-20" alt="womens golf shoes" target="_blank">
          <area shape="rect" coords="783,0,902,140" href="http://www.amazon.com/gp/product/B008XMHZGY/ref=as_li_tf_il?ie=UTF8&camp=1789&creative=9325&creativeASIN=B008XMHZGY&linkCode=as2&tag=golclujun0d-20" alt="womens golf polo" target="_blank">
          <area shape="rect" coords="740,158,936,291" href="http://www.amazon.com/gp/product/B003Z7119O/ref=as_li_tf_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B003Z7119O&linkCode=as2&tag=golclujun0d-20" alt="womens under armour ColdGear" target="_blank">
        </map>
      </div>
      <div class="carousel-caption">
        <div class="container">
          <h4>Find the hottest name<br/>brand apparel.</h4>
        </div>
      </div>
    </div>

    <div class="item">
      <div class="container">
        <%= image_tag("runnerchick.png", :usemap => "#runnermap") %>
        <map name="runnermap">
          <area shape="rect" coords="120,11,242,162" href="http://www.amazon.com/gp/product/B00EDTSHRW/ref=as_li_tf_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B00EDTSHRW&linkCode=as2&tag=golclujun0d-20" alt="running tank top" target="_blank">
          <area shape="rect" coords="144,170,304,288" href="http://www.amazon.com/gp/product/B00EZ76TRC/ref=as_li_tf_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B00EZ76TRC&linkCode=as2&tag=golclujun0d-20" alt="womens running shorts" target="_blank">
          <area shape="rect" coords="656,131,823,230" href="http://www.amazon.com/gp/product/B007K5FNDM/ref=as_li_tf_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B007K5FNDM&linkCode=as2&tag=golclujun0d-20" alt="womens running shoes" target="_blank">
        </map>
      </div>
      <div class="carousel-caption">
        <div class="container">
          <h4>No matter what sport you play.</h4>
          <p class="cc-credit">Photo credit <a href="https://www.flickr.com/photos/chrishunkeler/8049103309/">Chris Hunkeler</a> under <a href="http://creativecommons.org/licenses/by-sa/3.0/">CC BY-SA 3.0</a></p>
        </div>
      </div>
    </div>
    <div class="item">
      <div class="container">
        <%= image_tag("tennis.png", :usemap => "tennismap") %>
        <map name="tennismap">
          <area shape="rect" coords="105,108,233,276" href="http://www.amazon.com/gp/product/B00AQ9142I/ref=as_li_qf_sp_asin_il?ie=UTF8&camp=1789&creative=9325&creativeASIN=B00AQ9142I&linkCode=as2&tag=golclujun0d-20" alt="serena williams tennis shoes" target="_blank">
          <area shape="rect" coords="697,26,848,192" href="http://www.amazon.com/gp/product/B00CM7M1S8/ref=as_li_tf_il?ie=UTF8&camp=1789&creative=9325&creativeASIN=B00CM7M1S8&linkCode=as2&tag=golclujun0d-20" alt="serena williams tennis dress" target="_blank">
        </map>
      </div>
      <div class="carousel-caption">
        <div class="container">
          <h4>Dress in the coolest gear, just like<br/>your favorite athletes!</h4>
          <p class="cc-credit">Photo credit <a href="http://www.flickr.com/photos/la_bretagne_a_paris/">Yann Caradec</a> under <a href="http://creativecommons.org/licenses/by-sa/3.0/">CC BY-SA 3.0</a></p>
        </div>
      </div>
    </div>
  </div>
  <!-- Carousel nav -->
  <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
  <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
</div>
</div> <!-- end carousel container -->

<div class="container">

<div class="row">
<div class="span2"></div>
<div class="span8">
  <%= image_tag("slogan2.png", :id => "slogan-img") %>
</div>
<div class="span2"></div>
</div>

<hr class="dotted"/>

<div class="row">
  <div class="span12">
    <%= image_tag("best-sellers.png") %>
  </div>
</div>

<div class="row thumbnail-row">
  <div class="span12">
    <ul class="thumbnails">
      <% @best_sellers.each do |item| %>
        <%= render 'shared/item', :item => item %>
      <% end %>
    </ul> <!-- end breadcrumbs -->
  </div>
</div> <!-- end thumbnail row -->

</div> <!-- end container -->

<div id="email-container">
  <div class="container">
    <div id="mailing-list-container">
      <h1 style="font-family: Wire One, sans serif;">Sign up for our newsletter!</h1>
      <%= form_for(@subscriber, :url => { :action => "subscribe" } ) do |f| %>
        <%= f.text_field :email, :style => "margin-top: 9px;" %>
        <%= f.submit "Join", :class => "btn btn-inverse" %>
      <% end %>    
    </div>
    <div id="mailing-list-explanation" class="sunkenPanel">
      <div id="mailing-list-explanation-inner">
        <p>
          Don't miss out!  Subscribe to the SportyChick Newsletter and be the first to hear about:
          <ul>
            <li>New Releases</li>
            <li>Discounts and Deals</li>
            <li>The latest trends in women's sports!</li>
          </ul>
        </p> 
      </div>
    </div>
    <div class="clearfix"></div>
  </div>
</div>

<br/>

<div class="container">

<div class="row">
  <div class="span12">
    <%= image_tag("new_arrivals.png") %>
  </div>
</div>

<div class="row thumbnail-row">
  <div class="span12">
    <ul class="thumbnails">
      <% @new_items.each do |item| %>
        <%= render 'shared/item', :item => item %>
      <% end %>
    </ul> <!-- end breadcrumbs -->
  </div>
</div> <!-- end thumbnail row -->
</div> <!-- end container -->

