<div class="row">
  <div class="span3">
    <ol class="breadcrumb">
      <li class="active">Categories</li>
    </ol>

    <ul class="nav nav-pills nav-stacked">
      <li><a href="#">Shirts<span class="badge pull-right">3</span></a></li>
      <li><a href="#">Pants<span class="badge pull-right">4</span></a></li>
      <li><a href="#">Outerwear<span class="badge pull-right">1</span></a></li>
      <li><a href="#">Accessories<span class="badge pull-right">2</span></a></li>
    </ul>

  </div>

  <div class="span9">
    <ol class="breadcrumb">
      <li><a href="#">Home</a>&nbsp;<span class="divider">/</span></li>
      <li class="active">Shirts</li>
    </ol>


    <ul class="thumbnails">
      <li class="span3">
        <div class="thumbnail coolshadow">
          <%= image_tag("holder.png") %>
          <h4>Thumbnail label</h4>
          <p>Thumbnail caption...</p>
        </div>
      </li>

      <li class="span3">
        <div class="thumbnail coolshadow">
          <%= image_tag("holder2.png") %>
          <h4>Thumbnail label</h4>
          <p>Thumbnail caption...</p>
        </div>
      </li>

      <li class="span3">
        <div class="thumbnail coolshadow">
          <%= image_tag("holder4.png") %>
          <h4>Thumbnail label</h4>
          <p>Thumbnail caption...</p>
        </div>
      </li>

      <li class="span3">
        <div class="thumbnail coolshadow">
          <%= image_tag("holder6.png") %>
          <h4>Thumbnail label</h4>
          <p>Thumbnail caption...</p>
        </div>
      </li>

      <li class="span3">
        <div class="thumbnail coolshadow">
          <%= image_tag("holder7.png") %>
          <h4>Thumbnail label</h4>
          <p>Thumbnail caption...</p>
        </div>
      </li>


    </ul>


  </div>
</div>
