<div class="navbar navbar-static-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <div class="nav-collapse">
        <a class="brand" href="#">Shop</a>
        <ul class="nav">

          <%= render 'layouts/navbar/apparel_dropdown' %> 
<li><a href="#">Clearance</a></li>

          <%= render 'layouts/navbar/shoe_dropdown' %>

          <%= render 'layouts/navbar/accessories_dropdown' %>

          <%= render 'layouts/navbar/sports_dropdown' %>

          <%= render 'layouts/navbar/brands_dropdown' %>

          <%= render 'layouts/navbar/fan_gear_dropdown' %>

          <%= render 'layouts/navbar/clearances_dropdown' %>
           
        </ul> <!-- end main nav -->

<!--        <ul class="nav pull-right">
          <li class="divider-vertical"></li>
          <form class="navbar-search" action>
            <input type="text" class="search-query" placeholder="Search">
            <button class="btn btn-primary btn-small search_btn" type="submit">Go</button>
          </form>
        </ul> --> <!-- end search nav ul -->
      </div> <!-- end nav collapse -->
    </div>
  </div>
</div>
