<!DOCTYPE html>
<html>
<head>
  <title>SportyChickApparel</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/shim' %>
</head>
<body>
<!-- facebook code -->
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=109498679086250";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<!-- end facebook code -->

<div id="main-wrapper">
  <div class="container-fluid header-container">
    <%= render 'layouts/header' %>
  </div>

  <div class="container-fluid">
    <div class="row-fluid">
      <div class="span12">
        <%= render 'layouts/navbar' %>
      </div>
    </div> <!-- end main navbar row -->
  </div> <!-- end container-fluid -->

  <div class="container">
    <%= yield %>
  </div>
  
  <div id="push"></div>
</div> <!-- end main-wrapper -->

<%= render 'layouts/footer' %>


</body>
</html>
