<!DOCTYPE html>
<html>
<head>
  <title>Title</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/shim' %>
</head>
<body>

<div id="main-wrapper">
  <div class="container">
    <%= render 'layouts/header' %>
  </div>

  <div class="container-fluid">
    <div class="row-fluid">
      <div class="span12">
        <%= render 'layouts/navbar' %>
      </div>
    </div> <!-- end main navbar row -->
  </div> <!-- end container-fluid -->

  <div class="container">
    <%= yield %>
  </div>
  
  <div id="push"></div>
</div> <!-- end main-wrapper -->

<%= render 'layouts/footer' %>


</body>
</html>
